<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



    <button onclick="document.getElementById('img').src='https://rukminim2.flixcart.com/image/300/300/kndi4y80/shoe/d/u/l/12-232056-13-skechers-bkbl-original-imag22g7zfwfmth7.jpeg?q=70' ">prev</button>
    <img src="https://rukminim2.flixcart.com/image/300/300/kndi4y80/shoe/d/u/l/12-232056-13-skechers-bkbl-original-imag22g7zfwfmth7.jpeg?q=70" width="100" id="img" height="100" alt="">
    <button onclick="document.getElementById('img').src='https://rukminim2.flixcart.com/image/300/300/knqd3m80/slipper-flip-flop/b/j/u/11-ci8800-301nike-nike-sequoia-white-black-original-imag2ccexqm38kdh.jpeg?q=70' ">next</button>
</body>


</html>